html {
    background: #000 url('../images/starry-sky-1654074_960_720.jpg') repeat top center;
    height: 100%;
    color: white;
}

.hero-wrapper,
.search-wrapper,
.selector-wrapper,
.results-wrapper {
    margin-bottom: 20px;
}

.hero-wrapper {
    text-align: center;
    margin-bottom: 30px;
}

.search-input {
    width: 80%;
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    color: white;
    transition: all 0.5s;
}

.search-input:focus {
    outline: none;
    border-bottom: solid 2px deepskyblue;
    transition: all 0.5s;
}

@media(min-width: 768px) {
    .app-wrapper {
        margin: 50px;
    }
}
